<section id="banner">
  <img src="..." class="img-fluid" alt="...">
</section>

<section id="img"><div class="container text-center">
</div>
<div class="container text-center">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Pingüinos</h5>
            <p class="card-text">Los pingüinos viven en su totalidad en el hemisferio sur.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
          <img src="" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Antartida</h5>
            <p class="card-text">Es el continente mas austral de la tierra, esta situada completamente en el hemisferio sur.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Clima</h5>
            <p class="card-text">El clima se caracteriza por ser intensamente frio, poco humedo y tempestuoso.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
    </div>
  </div>
</div></section>

<section id="cartas">
  <div class="container text-center">
    <div class="row">
      <div class="col" style="width: 45; background-color: aquamarine;">
        Column
      </div>
      <div class="col" style="width: 45; background-color: blueviolet;">

        Column
      </div>
    </div>
  </div>
</section>

  