<section id="banner">
  <img src="../../../assets/imagenes/Diseño sin título.png" class="img-fluid" alt="...">
</section>

<section id="img" style="margin-top: 3%;">
      <div class="container text-center">
        <div class="row">
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/imagenes/pinguino.webp" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Pingüinos</h5>
                  <p class="card-text">Los pingüinos viven en su totalidad en el hemisferio sur.</p>
                  <a href="#" class="btn btn-dark">Go somewhere</a>
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/imagenes/antartida.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Antartida</h5>
                  <p class="card-text">Es el continente mas austral de la tierra, esta situada completamente en el hemisferio sur.</p>
                  <a href="#" class="btn btn-dark">Go somewhere</a>
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/imagenes/pinguino1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Clima</h5>
                  <p class="card-text">El clima se caracteriza por ser intensamente frio, poco humedo y tempestuoso.</p>
                  <a href="#" class="btn btn-dark">Go somewhere</a>
                </div>
              </div>
          </div>
        </div>
      </div>
</section>

<section id="cartas" style="margin-top: 3%; background-color:black;">
  <div class="container text-center">
    <div class="row" style="padding-bottom: 3%;">
      <div style="width: 30%; background-color: black;">
        <div class="card" style="margin-top: 5%; margin-bottom: 5%;">
         <img src="../../../assets/imagenes/el_pinguino_un_animal_que_necesita_ser_protegido_20768_3_600.jpg" alt="">
        </div>
      </div>
      <div style="width: 70%; background-color: black;">
        <div  style="margin-top: 12%; color: aliceblue;">
          Los pingüinos se alimentan de diferentes peces, calamares y de krill, unos pequeños crustáceos parecidos a las gambas, que forman parte del plancton. Su lengua espinosa les permite sujetar a las presas, que tragan enteras, ya que no tienen dientes.
        </div>
      </div>
    </div>
  </div>

  <div class="container text-center">
    <div class="row">
      <div style="width: 70%; background-color: black;">
        <div  style="margin-top: 12%; color: aliceblue;">
          El emperador es el más grande de todos los pingüinos: un ejemplar medio mide unos 115 centímetros. Estas aves, incapaces de volar, viven en los hielos antárticos y en las gélidas aguas que los rodean
        </div>
      </div>
      <div style="width: 30%; background-color: black;">
        <div class="card" style="margin-top: 5%; margin-bottom: 5%">
          <img src="../../../assets/imagenes/900.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>



  